<div class="avaliable-product-grid">
  <!-- <app-product [product]="product" *ngFor="let product of products"></app-product> -->
<div><img class="background" src="./assets/images/background.jpg" alt=""></div>
<div class="player"><img src="./assets/images/player.png" alt=""></div>
<div class="fifa23"><img src="./assets/images/fifa23.png" alt=""></div>
</div>
<div class="tittle-avaliable-game">
  <div class="tittle-game">EA SPORTS FIFA 23</div>
  <div class="description-game">El juego de Todos</div>
  <button class="available-button">Disponible ahora</button>
</div>
