<div class="more-container">
    <div class="ps4"> <img src="./assets/images/ps5.jpg" alt=""></div>
    <div class="ps5"> <img src="./assets/images/ps4.png" alt=""></div>
    <div class="discount"> <img src="./assets/images/discount2.png" alt=""></div>
    <div class="discount"> <img src="./assets/images/complements.png" alt=""></div>
    <div class="discount"> <img src="./assets/images/free.png" alt=""></div>
    <div class="discount"> <img src="./assets/images/vr.jpg" alt=""></div>
    <div class="discount"> <img src="./assets/images/ps plus.png" alt=""></div>
</div>

